name: Test

on:
    pull_request:
        branches: [ "main" ]

    push:
        branches: [ "main" ]

jobs:
    matrix:
        name: Unittest Matrix
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [ 3.7, 3.8, 3.9, "3.10", "3.11", "pypy3.9" ]
                django: [ 32, 40, 41, 42]
                exclude:
                    - python-version: 3.7
                      django: 40
                    - python-version: 3.7
                      django: 41
                    - python-version: "3.11"
                      django: 32
                    - python-version: "3.11"
                      django: 40
                    - python-version: 3.7
                      django: 42
                
        services:
            postgres:
                image: postgres
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    # Maps tcp port 5432 on service container to the host
                    - 5432:5432
                env:
                    # Docker image requires a password to be set
                    POSTGRES_PASSWORD: "postgres"

        steps:
            -   uses: actions/checkout@v3
            -   uses: actions/setup-python@v4
                with:
                    python-version: ${{ matrix.python-version }}
            -   run: pip install tox
            -   run: tox -v -- -v
                env:
                    TOXENV: py-django${{ matrix.django }}

    rest:
        name: Integration/Coverage/Docs/Codestyle
        runs-on: ubuntu-latest
        strategy:
            matrix:
                toxenv: [ flake8, pydocstyle, cov, integration ]
        services:
            postgres:
                image: postgres
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432
                env:
                    POSTGRES_PASSWORD: "postgres"

        steps:
            -   uses: actions/checkout@v3
            -   uses: actions/setup-python@v4
                with:
                    python-version: 3.9
            -   run: pip install tox
            -   run: tox -v -- -v
                env:
                    TOXENV: ${{ matrix.toxenv }}
